<!DOCTYPE html>
<html>
	<head>
		<title>Smol Maps</title>
		<meta charset="utf-8">
		<meta name="description" content="An editable offline-friendly map">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="/img/favicons/favicon-180.png" sizes="180x180">
		<link rel="icon" type="image/png" href="/img/favicons/favicon-16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/img/favicons/favicon-32.png" sizes="32x32">
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/lib/source-sans-pro/source-sans-pro.css">
		<link rel="stylesheet" href="/lib/leaflet/dist/leaflet.css">
		<link rel="stylesheet" href="/lib/leaflet-geocoder-mapzen/dist/leaflet-geocoder-mapzen.min.css">
		<link rel="stylesheet" href="/lib/leaflet.locatecontrol/dist/L.Control.Locate.css">
		<link rel="stylesheet" href="/css/smol.menu.css">
		<link rel="stylesheet" href="/css/smol.menu.config.css">
		<link rel="stylesheet" href="/css/smol.menu.map.css">
		<link rel="stylesheet" href="/css/smol.menu.venue.css">
		<link rel="stylesheet" href="/css/smol.sidebar.css">
		<link rel="stylesheet" href="/css/smol.leaflet.css">
		<link rel="stylesheet" href="/css/smol.maps.css">
	</head>
	<body>
		<div id="app">
			<div id="sidebar">

				<span id="sidebar-close"><span class="fa fa-close"></span></span>
				<div id="sidebar-map">
					<h1 id="sidebar-map-name"></h1>
					<div id="sidebar-map-author"></div>
					<div id="sidebar-map-description"></div>
					<a href="#" id="sidebar-map-edit">Edit map</a>
				</div>
				<ul id="sidebar-items"></ul>
				<div id="sidebar-config">
					<div class="relative">
						<div id="sidebar-config-utility" class="hidden">
							<ul>
								<!--<li><a href="#" id="utility-import">Import map GeoJSON</a></li>-->
								<li><a href="#" id="utility-export">Export map GeoJSON</a></li>
								<li><a href="#" id="utility-config">Configure Smol Maps</a></li>
							</ul>
						</div>
					</div>
					<span class="fa fa-cog"></span>
				</div>

			</div>
			<div id="leaflet"></div>
			<div id="menu">

				<span id="menu-close"><span class="fa fa-close"></span></span>

				<form action="/api/config" method="post" id="config" class="menu-page">
					<h1>Configure</h1>
					<label>
						Mapzen API key
						<input type="text" name="mapzen_api_key" id="config-api-key" value="">
						<div class="help">Register a free API key at <a href="https://mapzen.com/dashboard" target="_blank">mapzen.com/dashboard</a></div>
					</label>
					<label>
						Default location
						<input type="hidden" name="default_bbox" value="">
						<input type="hidden" name="default_wof_id" value="">
						<input type="hidden" name="default_slug" value="">
						<input type="hidden" name="default_name" value="">
						<input type="text" id="config-location" placeholder="Search for a default location (requires valid API key)" disabled="disabled" autocomplete="off">
						<div class="help"><a href="#" id="config-geolocate">Detect current location</a></div>
					</label>
					<div id="config-places">
						<div id="config-places-random" class="place selected" data-bbox="" data-wof-id="-1"><span class="fa fa-check"></span> Pick randomly</div>
						<div id="config-places-select"></div>
					</div>
					<label>
						Custom tiles URL
						<input type="text" name="tiles_url" placeholder="/tiles/{format}/{z}/{x}/{y}.{format}">
						<div class="help">Leave empty for standard tiles URL</div>
					</label>
					<div class="buttons">
						<div class="response"></div>
						<input type="submit" name="action" class="btn btn-save" value="Save">
						<input id="config-cancel" type="button" class="btn btn-cancel" value="Cancel">
					</div>
				</form>

				<form action="/api/map" method="post" id="map" class="menu-page">
					<h1>Edit map</h1>
					<input type="hidden" name="id" id="map-id" value="">
					<label>
						Name
						<input type="text" name="name" id="map-name" value="">
					</label>
					<label>
						Author(s)
						<input type="text" name="author" id="map-authors" value="">
					</label>
					<label>
						Description
						<textarea name="description" id="map-description" cols="60" rows="3"></textarea>
					</label>
					<label>
						URL<br>
						<div id="map-slug-holder"><pre id="map-base-url"></pre><input type="text" name="slug" id="map-slug" value=""></div>
						<div class="help" id="map-url-feedback">use letters, numbers, and hyphens</div>
					</label>
					<!--<label>
						<input type="checkbox" name="public" value="1" id="map-public"> Include in the list of public maps
					</label>-->

					<label>
						Default bounding box
						<input type="text" name="bbox" id="map-bbox" value="">
						<div class="help">min longitude, min latitude, max longitude, max latitude</div>
						<a href="#" id="map-set-view">Use current map view as the default</a>
					</label>
					<div class="headroom">
						<div id="map-base" class="column">
							<label class="no-headroom">
								Base map
								<select name="style" id="map-style">
									<option>refill-style</option>
									<option>walkabout-style</option>
									<option>bubble-wrap</option>
								</select>
							</label>
							<label class="style-specific refill-style">
								Theme
								<select name="theme" id="map-theme">
									<option>black</option>
									<option>blue</option>
									<option>blue-gray</option>
									<option>brown-orange</option>
									<option>gray</option>
									<option>gray-gold</option>
									<option>high-contrast</option>
									<option>inverted</option>
									<option>pink</option>
									<option>pink-yellow</option>
									<option>purple-green</option>
									<option>sepia</option>
									<option>zinc</option>
								</select>
							</label>
							<label>
								Label density
								<select name="labels" id="map-labels">
									<option>0</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
								</select>
							</label>
							<label class="style-specific refill-style">
								Level of detail
								<select name="detail" id="map-detail">
									<option>0</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>8</option>
									<option>9</option>
									<option>10</option>
									<option>11</option>
								</select>
							</label>
							<label class="checkbox">
								<input type="checkbox" name="transit_overlay" value="1" id="map-transit_overlay">
								Show transit overlay
							</label>
							<label class="checkbox style-specific walkabout-style">
								<input type="checkbox" name="trail_overlay" value="1" id="map-trail_overlay">
								Show trail overlay
							</label>
							<label class="checkbox style-specific walkabout-style">
								<input type="checkbox" name="bike_overlay" value="1" id="map-bike_overlay">
								Show bike overlay
							</label>
						</div>
						<div id="map-preview" class="column">
							<img src="/img/preview/refill-black.jpg">
						</div>
						<div class="clear"></div>
					</div>
					<div class="buttons">
						<div class="response"></div>
						<input type="submit" name="action" class="btn btn-save" value="Save">
						<input type="submit" name="action" class="btn btn-cancel" value="Cancel">
					</div>
					<!--<div id="map-links">
						<a href="#" id="map-print" target="_blank">Print this map</a>
						<a href="#" class="edit-delete">Delete this map?</a>
					</div>-->
				</form>

				<form action="/api/venue" method="post" id="venue" class="menu-page">
					<h1>Edit venue</h1>
					<input type="hidden" name="id" id="venue-id" value="">
					<input type="hidden" name="map_id" id="venue-map-id" value="">
					<input type="hidden" name="latitude" id="venue-latitude" value="">
					<input type="hidden" name="longitude" id="venue-longitude" value="">
					<label>
						Name
						<input type="text" name="name" id="venue-name" value="">
					</label>
					<label>
						Address
						<input type="text" name="address" id="venue-address" value="">
					</label>
					<label for="venue-icon">
						Icon
					</label>
					<div id="venue-icon-preview-holder">
						<div id="venue-icon-preview" class="icon-bg"><div class="icon"></div></div>
						<small><a href="#" id="venue-default-icon">set as default</a></small>
					</div>
					<div id="venue-recent-icons">
						<label>Choose an icon</label>
						<div class="holder"></div>
						<small><a href="#" id="venue-show-icons">show all icons</a></small>
					</div>
					<div id="venue-icons-holder">
						<div id="venue-icons" class="hidden"></div>
					</div>
					<input name="icon" type="hidden" id="venue-icon">
					<label>
						Color
						<input type="text" name="color" id="venue-color" value="">
						<div id="venue-colors">
							<a href="#" data-color="#9e0142"></a>
							<a href="#" data-color="#d53e4f"></a>
							<a href="#" data-color="#f46d43"></a>
							<a href="#" data-color="#fdae61"></a>
							<a href="#" data-color="#fee08b"></a>
							<a href="#" data-color="#ffffbf"></a>
							<a href="#" data-color="#e6f598"></a>
							<a href="#" data-color="#abdda4"></a>
							<a href="#" data-color="#66c2a5"></a>
							<a href="#" data-color="#3288bd"></a>
							<a href="#" data-color="#5e4fa2"></a>
							<br class="clear">
						</div>
						<div class="help"><a href="https://en.wikipedia.org/wiki/Web_colors" target="_blank">hex color</a> code, for inspiration check out <a href="http://colorbrewer2.org/" target="_blank">Color Brewer</a></div>
					</label>
					<label>
						Tags
						<div class="help">comma separated: <code>public space, park</code></div>
						<input type="text" name="tags" id="venue-tags" value="">
					</label>
					<label>
						URL
						<input type="text" name="url" id="venue-url" value="">
					</label>
					<label>
						Venue description
						<textarea name="description" id="venue-description" cols="60" rows="5"></textarea>
						<div class="help">add some context about this venue</div>
					</label>
					<div class="buttons">
						<div class="response"></div>
						<input type="submit" name="action" class="btn btn-save" value="Save">
						<input type="submit" name="action" class="btn btn-cancel" value="Cancel">
					</div>
					<a href="#" class="edit-delete">Delete this venue?</a>
				</form>

			</div>
		</div>
		<script src="/lib/jquery/dist/jquery.min.js"></script>
		<script src="/lib/leaflet/dist/leaflet.js"></script>
		<script src="/lib/tangram/dist/tangram.min.js"></script>
		<script src="/lib/leaflet-geocoder-mapzen/dist/leaflet-geocoder-mapzen.min.js"></script>
		<script src="/lib/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
		<script src="/lib/leaflet-hash.js"></script>
		<script src="/lib/slippymap.crosshairs.js"></script>
		<script src="/js/leaflet-add-venue.js"></script>
		<script src="/js/wof.megacities.js"></script>
		<script src="/js/smol.maps.js"></script>
		<script src="/js/smol.menu.js"></script>
		<script src="/js/smol.menu.config.js"></script>
		<script src="/js/smol.menu.map.js"></script>
		<script src="/js/smol.menu.venue.js"></script>
		<script src="/js/smol.sidebar.js"></script>
		<script src="/js/smol.color.js"></script>
	</body>
</html>
