<!DOCTYPE html>
<html>
	<head>
		<title>Smol Maps</title>
		<meta charset="utf-8">
		<meta name="description" content="An editable offline-friendly map">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="/img/favicons/favicon-180.png" sizes="180x180">
		<link rel="icon" type="image/png" href="/img/favicons/favicon-16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/img/favicons/favicon-32.png" sizes="32x32">
		<link rel="stylesheet" href="/css/reset.css">
		<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="/lib/source-sans-pro/source-sans-pro.css">
		<link rel="stylesheet" href="/lib/leaflet/dist/leaflet.css">
		<link rel="stylesheet" href="/lib/leaflet-geocoder-mapzen/dist/leaflet-geocoder-mapzen.min.css">
		<link rel="stylesheet" href="/lib/leaflet.locatecontrol/dist/L.Control.Locate.css">
		<link rel="stylesheet" href="/css/smol.menu.css">
		<link rel="stylesheet" href="/css/smol.menu.config.css">
		<link rel="stylesheet" href="/css/smol.sidebar.css">
		<link rel="stylesheet" href="/css/smol.leaflet.css">
		<link rel="stylesheet" href="/css/smol.maps.css">
	</head>
	<body>
		<div id="app">
			<div id="sidebar">

				<span id="sidebar-close"><span class="fa fa-close"></span></span>
				<ul id="sidebar-items"></ul>
				<span id="sidebar-config"><span class="fa fa-cog"></span></span>

			</div>
			<div id="map"></div>
			<div id="menu">

				<span id="menu-close"><span class="fa fa-close"></span></span>

				<form action="/api/config" method="post" id="config" class="menu-page">
					<h1>Configure</h1>
					<label>
						Mapzen API key
						<input type="text" name="mapzen_api_key" id="config-api-key" value="">
						<div class="help">Register a free API key at <a href="https://mapzen.com/dashboard" target="_blank">mapzen.com/dashboard</a></div>
					</label>
					<label>
						Default location
						<input type="hidden" name="default_bbox" value="">
						<input type="hidden" name="default_wof_id" value="">
						<input type="hidden" name="default_slug" value="">
						<input type="hidden" name="default_name" value="">
						<input type="text" id="config-location" placeholder="Search for a default location (requires valid API key)" disabled="disabled" autocomplete="off">
						<div class="help"><a href="#" id="config-geolocate">Detect current location</a></div>
					</label>
					<div id="config-places">
						<div id="config-places-random" class="place selected" data-bbox="" data-wof-id="-1"><span class="fa fa-check"></span> Pick randomly</div>
						<div id="config-places-select"></div>
					</div>
					<div class="buttons">
						<div class="response"></div>
						<input type="submit" name="action" class="btn btn-save" value="Save">
						<input id="config-cancel" type="button" class="btn btn-cancel" value="Cancel">
					</div>
				</form>

			</div>
		</div>
		<script src="/lib/jquery/dist/jquery.min.js"></script>
		<script src="/lib/leaflet/dist/leaflet.js"></script>
		<script src="/lib/tangram/dist/tangram.min.js"></script>
		<script src="/lib/leaflet-geocoder-mapzen/dist/leaflet-geocoder-mapzen.min.js"></script>
		<script src="/lib/leaflet.locatecontrol/dist/L.Control.Locate.min.js"></script>
		<script src="/lib/leaflet-hash.js"></script>
		<script src="/lib/slippymap.crosshairs.js"></script>
		<script src="/js/leaflet-add-venue.js"></script>
		<script src="/js/wof.megacities.js"></script>
		<script src="/js/smol.maps.js"></script>
		<script src="/js/smol.menu.js"></script>
		<script src="/js/smol.menu.config.js"></script>
		<script src="/js/smol.sidebar.js"></script>
		<script src="/js/smol.color.js"></script>
	</body>
</html>
