#sidebar {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	color: #fff;
	background: #170A26;
	overflow: auto;
}

#sidebar.active {
	display: block;
}

#sidebar-close {
	color: #fff;
	position: fixed;
	top: 6px;
	left: 255px;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}

#sidebar-config {
	color: #fff;
	position: fixed;
	bottom: 6px;
	left: 255px;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}

#sidebar-items {
	margin: 30px 0;
}

#sidebar-items li {
	position: relative;
	margin-top: 15px;
	padding: 0 10px;
	height: 40px;
	overflow: hidden;
}

#sidebar .icon-bg {
	float: left;
	font-size: 20px;
	line-height: 40px;
	padding: 0;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
}

#sidebar .name {
	position: absolute;
	left: 60px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14px;
	font-weight: bold;
	width: calc(100% - 70px);
}
