#menu {
	position: fixed;
	top: -100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #eee;
	overflow: auto;
	transition: top 0.25s ease-out;
}

#menu.no-animation {
	transition: none;
}

#menu.active {
	top: 0;
}

#menu-close {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	font-size: 24px;
	color: #170A26;
	padding: 10px;
	cursor: pointer;
}

#menu.active #menu-close {
	display: block;
}

#menu .menu-page {
	display: none;
	width: 100%;
	max-width: 640px;
	padding: 10px 10px 40px 10px;
	margin: 0 auto;
	min-height: 100vh;
	position: relative;
}

#menu .menu-page.visible {
	display: block;
}

#menu .buttons {
	margin-top: 20px;
	border-top: 1px solid #ccc;
}

#menu .response {
	font-size: 14px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

#menu .btn {
	border: none;
	color: #8442D5;
	background: transparent;
	border: 2px solid #8442D5;
	font-size: 13px;
	font-weight: 600;
	padding: 10px 15px;
	border-radius: 4px;
	cursor: pointer;
	text-transform: uppercase;
	margin-left: 5px;
}

#menu .btn:hover {
	color: #fff;
	background: #000;
	border-color: #000;
}

#menu .btn-save {
	color: #fff;
	background-color: #8442D5;
	border-color: #8442D5;
	margin-left: 0;
}
