#sidebar {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	color: #fff;
	background: #170A26;
	overflow: auto;
}

#sidebar.active {
	display: block;
}

#sidebar a:hover {
	color: #fff;
}

#sidebar-close {
	color: #fff;
	position: fixed;
	top: 6px;
	left: 255px;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
	z-index: 1;
}

#sidebar-config {
	color: #fff;
	position: fixed;
	bottom: 6px;
	left: 255px;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}

#sidebar-venues {
	margin: 10px 0 30px 0;
}

#sidebar-venues li {
	position: relative;
	padding: 7.5px 10px;
	height: 55px;
	overflow: hidden;
	cursor: pointer;
}

#sidebar-venues li:hover {
	background: rgba(255, 255, 255, 0.1);
}

#sidebar .icon-bg {
	font-size: 20px;
	line-height: 40px;
	padding: 0;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
}

#sidebar-venues .name {
	position: absolute;
	left: 60px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14px;
	line-height: 1.25;
	font-weight: bold;
	width: calc(100% - 70px);
}

.sidebar-map {
	padding: 15px 10px 20px 10px;
}

#sidebar h1 {
	margin: 0;
}

.sidebar-map .author::before {
	content: "by ";
}

.sidebar-map .author,
.sidebar-map .description {
	margin-top: 10px;
	line-height: 1.5;
}

#sidebar-config-utility {
	position: absolute;
	font-size: 14px;
	line-height: 14px;
	background: rgba(255, 255, 255, 0.9);
	padding: 5px 0;
	border-radius: 4px;
	width: 160px;
	right: 0;
	bottom: 5px;
}

#sidebar-config-utility a {
	display: block;
	padding: 7px 10px;
	color: #170A26;
	text-decoration: none;
}

#sidebar-config-utility a:hover {
	color: #fff;
	background: #8442D5;
}

#sidebar-buttons {
	margin-bottom: 20px;
	padding: 10px;
}

#sidebar-map-edit {
	margin-left: 0;
}

#sidebar-map-browse {
	margin-left: 10px;
}

#sidebar .btn:hover {
	color: #170A26;
	background: #fff;
	border-color: #fff;
}

#sidebar-maps {
	margin: 15px 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar-maps .sidebar-map {
	position: relative;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#sidebar-maps .sidebar-map:hover {
	background: rgba(255, 255, 255, 0.1);
}

#sidebar-maps .sidebar-map a {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

#sidebar-back {
	display: inline-block;
	margin: 15px 10px 0 10px;
}

#sidebar-back .fa {
	margin-left: -5px;
}

#sidebar-back-name {
	margin-left: 5px;
}
