/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
	margin: 0;
}

#map {
	width: 100vw;
	height: 100vh;
}
