/* https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	margin: 0;
}

a {
	color: #8442D5;
}

h1 {
	font-weight: normal;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}

h2 {
	font-size: 18px;
	margin-bottom: 30px;
	margin-top: 5px;
}

h3 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

input[type="text"],
textarea {
	display: block;
	font-size: 14px;
	line-height: 14px;
	font-family: "Source Sans Pro", sans-serif;
	padding: 10px;
	border: 1px solid #ccc;
	width: 100%;
	margin: 10px 0 0 0;
	border-radius: 2px;
}

input[type="text"]:focus,
textarea:focus {
	border-color: #170A26;
}

label {
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin-top: 20px;
}

label pre {
	font-weight: normal;
}

select {
	font-size: 14px;
	margin-top: 10px;
}

code {
	font-family: menlo, monospace;
}

.help code {
	color: #333;
}

.column {
	float: left;
	width: 125px;
	margin-right: 20px;
}

.clear {
	clear: both;
}

.help {
	font-size: 12px;
	font-weight: normal;
	color: #666;
	margin: 10px 0 15px 0;
}

.hidden {
	display: none !important;
}

.headroom {
	margin-top: 30px;
}

.no-headroom {
	margin-top: 0;
}

.edit-delete {
	color: #DE2B32;
	margin-left: 10px;
}

#app {
	transition: background-color 0.5s ease-out;
	width: 100vw;
	height: 100vh;
}

#map {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#map.show-sidebar {
	left: 300px;
}

#sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	color: #fff;
	background: #170A26;
}

#sidebar-close {
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}

#sidebar-config {
	color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}

.leaflet-control-zoom .fa {
	font-size: 15px;
	margin-left: -2px;
	margin-top: -3px;
}

.leaflet-control-locate .fa::before {
	display: none;
}

.leaflet-control-locate .fa {
	background-image: url(/img/geolocate.svg);
	background-size: 25px 25px;
	width: 25px;
	height: 25px;
	margin-top: 7px;
}

.icon-bg {
	position: relative;
	display: inline-block;
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding: 0;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	text-align: center;
	margin-right: 10px;
	vertical-align: middle;
}

.icon-bg .icon {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 60% 60%;
	background-repeat: no-repeat;
	background-position: center;
}

.icon-bg .inverted {
	filter: invert(100%);
}

.icon-bg .icon-label {
	position: absolute;
	top: 64px;
	left: 0;
	width: 60px;
	font-size: 11px;
	line-height: 11px;
	color: #000;
	text-align: center;
}

@media (min-width: 321px) {
	.leaflet-touch .leaflet-control-add-venue a,
	.leaflet-control-add-venue a:hover,
	.leaflet-control-add-venue a:first-child,
	.leaflet-control-add-venue a:last-child {
		width: 60px;
		height: 60px;
		line-height: 60px;
		font-size: 20px;
	}

	.leaflet-control-add-venue a,
	.leaflet-touch .leaflet-control-add-venue a,
	.leaflet-control-add-venue a:first-child,
	.leaflet-control-add-venue a:last-child,
	.leaflet-touch .leaflet-control-add-venue a:first-child,
	.leaflet-touch .leaflet-control-add-venue a:last-child {
		font-size: 28px;
		border-radius: 30px;
	}
}
