#sidebar {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	width: 300px;
	color: #fff;
	background: #170A26;
	overflow: auto;
}

#sidebar.active {
	display: block;
}

#sidebar-close {
	color: #fff;
	position: fixed;
	top: 6px;
	left: 255px;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}

#sidebar-config {
	color: #fff;
	position: fixed;
	bottom: 6px;
	left: 255px;
	font-size: 24px;
	padding: 10px;
	cursor: pointer;
}

#sidebar-items {
	margin: 10px 0 30px 0;
}

#sidebar-items li {
	position: relative;
	padding: 7.5px 10px;
	height: 55px;
	overflow: hidden;
	cursor: pointer;
}

#sidebar-items li:hover {
	background: rgba(255, 255, 255, 0.1);
}

#sidebar .icon-bg {
	font-size: 20px;
	line-height: 40px;
	padding: 0;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	text-align: center;
	margin-right: 10px;
	cursor: pointer;
}

#sidebar .name {
	position: absolute;
	left: 60px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 14px;
	line-height: 1.25;
	font-weight: bold;
	width: calc(100% - 70px);
}

#sidebar-map {
	padding: 0 10px;
}

#sidebar a:hover {
	color: #fff;
}

#sidebar h1 {
	margin: 20px 0 10px 0;
}

#sidebar-map-author::before {
	content: "by ";
}

#sidebar-map-author,
#sidebar-map-description {
	margin-bottom: 10px;
	line-height: 1.5;
}

#sidebar-config-utility {
	position: absolute;
	font-size: 14px;
	line-height: 14px;
	background: rgba(255, 255, 255, 0.75);
	padding: 5px 0;
	border-radius: 4px;
	width: 160px;
	right: 0;
	bottom: 5px;
}

#sidebar-config-utility a {
	display: block;
	padding: 7px 10px;
	color: #170A26;
	text-decoration: none;
}

#sidebar-config-utility a:hover {
	color: #fff;
	background: #8442D5;
}
